/* for small devices  */
@media screen and (max-width: 576px) {

    /* shared styles  */
    .title {
        font-size: 2rem;
    }

    /* header section starts here  */
    header {
        flex-direction: column-reverse;
    }

    header h1 {
        font-size: 3rem;
        margin-top: 30px;
    }

    header .rating-card {
        width: 180px;
        height: 70px;
        left: 100px;
    }

    header .rating-card h2 {
        font-size: 1.5rem;
    }

    header .rating-card p {
        font-size: .75rem;
    }

    /* feature section starts here  */
    .feature .container {
        grid-template-columns: repeat(1, 1fr);

    }

    /* fresh tea section starts here  */
    .fresh-tea {
        flex-direction: column;
    }

    .fresh-tea img {
        width: 100%;
    }

    /* Riview section starts here  */
    .review {
        margin: 20px;
        padding: 20px;
        padding-bottom: 100px;
        flex-direction: column;
    }

    .meet {
        max-width: 100%;
    }

    .chat {
        margin-right: 0px;
    }

    .chat .client {
        width: 50px;
        top: -10px;
        left: -10px;
    }

    .chat .message-box {
        padding: 10px;
        margin-top: 50px;
        margin-right: 10px;
    }

    .chat .two,
    .chat .three {

        transform: scale(.80) translateX(60px);
    }

    .two {
        top: -80px;
    }

    .three {
        bottom: -80px;
    }

    /* news section starts here  */
    .news .container {
        grid-template-columns: repeat(1, 1fr);
    }

}



/* for medium devices  */
@media screen and (min-width:576px) and (max-width:992px) {

    /* shared styles  */
    .title {
        font-size: 2.5rem;
    }

    /* header section starts here  */
    header {
        padding: 0 40px;
        flex-direction: column-reverse;
    }

    header h1 {
        font-size: 4rem;
        margin-top: 30px;
    }

    header .text {
        max-width: 100%;
    }

    /* feature section starts here  */
    .feature .container {
        grid-template-columns: repeat(2, 1fr);

    }

    /* fresh tea section starts here  */
    .fresh-tea {
        flex-direction: column;
    }



    /* Riview section starts here  */
    .review {
        margin: 20px;
        padding: 20px;
        padding-bottom: 100px;
        flex-direction: column;
    }

    .meet {
        max-width: 100%;
    }

    .chat {
        margin-right: 0px;
    }

    .chat .message-box {
        padding: 10px;
        margin-top: 50px;
        margin: 0 50px;
    }

    .chat .two,
    .chat .three {

        transform: scale(.80) translate(80px);
    }

    .two {
        top: -90px;
    }

    .three {
        bottom: -90px;
    }

    /* news section starts here  */
    .news .container {
        grid-template-columns: repeat(2, 1fr);

    }

    .news .container .double-span {
        grid-column: span 2;
    }

}