@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Balsamiq Sans", sans-serif;
}

/* shared styles  */
.description {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 30px;
    color: rgb(119, 119, 119);
}

.btn-primary {
    border-radius: 10px;
    background: linear-gradient(270.00deg, rgb(255, 0, 0) 0%, rgb(255, 137, 56) 100%);
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 20px;
    border: none;
}