* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 300px;
    height: 100px;
    border: red solid;
    margin: 0 auto;
    /* padding: 10px; */
}

h1,
p {
    margin-top: 100px;

}

.text {
    height: 100px;
    border: solid black;
    margin-top: 50px;
    margin-bottom: 50px;
}